{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}
{% load navactive %}
{% load static %}
{% load humanize %}
{% block page_title %}{{page_title}}{% endblock %}
{% block header_nav_brand %}{{page_title}}{% endblock %}
{% block header_nav_collapse_left %}
{% if perms.altmanager.can_request_alt_corp %}
    <li class="nav-item">
        <a class="nav-link {% navactive request 'altmanager:request' %}" href="{% url 'altmanager:request' %}">{% translate "Request" %}</a>
    </li>
{% endif %}

{% if perms.altmanager.can_sanction_own_corp %}
    <li class="nav-item">
        <a class="nav-link {% navactive request 'altmanager:sanctions' %}" href="{% url 'altmanager:sanctions' %}">{% translate "Sanctions" %}</a>
    </li>
{% endif %}

{% if perms.altmanager.can_manage_alt_corp %}
    <li class="nav-item">
        <a class="nav-link {% navactive request 'altmanager:manage' %}" href="{% url 'altmanager:manage' %}">{% translate "Manage" %}</a>
    </li>
{% endif %}
{% endblock header_nav_collapse_left %}
{% block content %}
    <div class="m-2">
        <h4 class="strikeOut">How to Guide</h4>
        <div class="">
            <div class="d-flex justify-content-around flex-wrap text-center">
                <div class="m-2 flex-even card" style="min-width: 350px">
                    <div class="text-center mt-1"><h5>Step 1</h5></div>
                    <div class="mb-auto">
                        <h6 class="strikeOut mb-1">Add Tokens</h6>
                        <p class="mx-1">
                            Add a corporate membership token for the corporation you want to apply with.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn bg-primary w-100" href="/alts/add_corp_token">Add New Membership Token</a>
                    </div>
                </div>
                <div class="m-2 flex-even card" style="min-width: 350px">
                    <div class="text-center mt-1"><h5>Step 2</h5></div>
                    <div class="">
                        <h6 class="strikeOut mb-1">Add Members</h6>
                        <p class="mx-1">
                            Ensure All Corp members are added to auth.
                        </p>
                        <p class="mx-1">
                            You will not be able to progress till this is complete.
                        </p>
                    </div>
                </div>
                <div class="m-2 flex-even card" style="min-width: 350px">
                    <div class="text-center mt-1"><h5>Step 3</h5></div>
                    <div class="">
                        <h6 class="strikeOut mb-1">Claim Corporation</h6>
                        <p class="mx-1">
                            Claim the corporation as yours and apply for sanctioning from your corporation leadership in the Actions column.
                        </p>
                        <p class="mx-1">
                            <span class="text-warning"><b>This is you accepting responsibility for the actions of this corporations members.</b></span>
                        </p>
                    </div>
                </div>
                <div class="m-2 flex-even card" style="min-width: 350px">
                    <div class="text-center mt-1"><h5>Step 4</h5></div>
                    <div class="">
                        <h6 class="strikeOut mb-1">Sanctioning</h6>
                        <p class="mx-1">
                            Contact your Corporation Leadership to request that they Sanction your request.
                        </p>
                        <p class="mx-1">
                            Alliance Leadership <b>will not</b> action this request until your Corporation Leadership have completed this step.
                        </p>
                    </div>
                </div>
                <div class="m-2 flex-even card" style="min-width: 350px">
                    <div class="text-center mt-1"><h5>Step 5</h5></div>
                    <div class="">
                        <h6 class="strikeOut mb-1">Approvals</h6>
                        <p class="mx-1">
                            Wait for Alliance Leadership to Approve/Action or Reject the application.
                        </p>
                        <p class="mx-1">
                            You will be contacted with the next steps.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <h4 class="strikeOut text-center" >My Corporations</h4>
        <div class="">
            <table id="table-structs" class="table ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th class="text-center">Members</th>
                        <th class="text-center">State</th>
                        <th class="text-end">Actions</th>
                        <th class="text-end">State</th>
                    </tr>
                </thead>
                <tbody>
                {% for corp in corporations %}
                    <tr>
                        <td class="align-middle">
                            <img src="https://images.evetech.net/corporations/{{ corp.corporation_id }}/logo" width="32px" heght="32px"/>
                            {% if corp.alliance_id %}
                                <img class="ms-2" src="https://images.evetech.net/alliances/{{ corp.alliance_id }}/logo" width="32px" heght="32px"/>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {{ corp.corporation_name }}
                            {% if corp.alliance_name %}
                                <figcaption class="figure-caption">{{corp.alliance_name}}</figcaption>
                            {% endif %}
                        </td>
                        <td class="align-middle text-center {% if corp.member_count == corp.known_member_count %}text-success{% else %}text-danger{% endif %}">
                            {% if corp.known_member_count %}
                                {% if corp.known_members_in_member_corps != corp.member_count %}
                                    <a class="btn btn-sm {% if corp.known_member_count > corp.member_count %}btn-danger{% else %}btn-warning{% endif %}" href="/alts/detail/{{ corp.corporation_id }}">
                                        <i class="fas fa-external-link-alt fa-fw me-2"></i>
                                        {{ corp.known_member_count }}
                                        {% if corp.known_members_in_member_corps != corp.known_member_count %}<span class="text-danger">({{ corp.known_members_in_member_corps}})</span>{% endif %}
                                        / {{ corp.member_count }}
                                    </a>
                                {% else %}
                                    {{ corp.known_member_count }}
                                    {% if corp.known_members_in_member_corps != corp.known_member_count %}<span class="text-danger">({{ corp.known_members_in_member_corps}})</span>{% endif %}
                                    / {{ corp.member_count }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="align-middle text-center" >
                            {% if corp.revoked %}
                                <span class="badge bg-danger">Revoked</span>
                                {% if corp.revoked_reason %}
                                    <figcaption class="figure-caption">{{corp.revoked_reason}}</figcaption>
                                {% endif %}
                            {% elif corp.approved %}
                                <span class="badge bg-success">Active</span>
                            {% elif corp.sanctioned %}
                            <span class="badge bg-success">Sanctioned by: {{ corp.sanctioner.character_name }}</span>
                            <figcaption class="figure-caption">Pending Leadership Action</figcaption>
                            {% elif corp.owner %}
                                <span class="badge bg-primary">Awaiting Sanction Approval</span>
                            {% else %}
                                <span class="badge bg-secondary">No Application</span>
                            {% endif %}
                        </td>
                        <td class="align-middle text-end">
                            {% if corp.revoked %}
                            {% elif corp.approved %}
                            {% elif corp.sanctioned %}
                            {% elif corp.owner %}
                                <!-- do nothing -->
                            {% else %}
                                {% if corp.known_member_count != corp.member_count %}
                                    <span class="text-danger">Unable to Claim (Add all Members)</span>
                                {% else %}
                                    <a
                                    class="btn btn-sm bg-secondary"
                                    href="/alts/apply_corp/{{corp.corporation_id}}"
                                    >Claim Corporation</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if corp.revoked %}
                                Revoked
                            {% elif corp.approved %}
                                Active
                            {% elif corp.sanctioned %}
                                Sanctioned
                            {% elif corp.owner %}
                                Awaiting Sanction Approval
                            {% else %}
                                Unknown State
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <h6 class="strikeOut mb-3">Important Notes</h6>
            <figcaption class="figure-caption">If no corporations show and you believe this is in error, please refresh the page.</figcaption>
            <figcaption class="figure-caption">If a corporation is not visible make sure you have added a membership token.</figcaption>
            <figcaption class="figure-caption">If you do not maintain 100% member compliance your alt corp approval will be revoked.</figcaption>
            <figcaption class="figure-caption">ESI Member Count can be out of date due to the ESI cache. Please allow 24h to allow for changes in the membership.</figcaption>
            <figcaption class="figure-caption">If the missing member list is empty then your issue is Cache. It will clear it's self.</figcaption>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
<script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.3/js/dataTables.bootstrap5.js"></script>
{% include 'bundles/filterdropdown-js.html' %}
    <script>
        $(document).ready( function () {
                $('#table-structs').DataTable({
                    filterDropDown:
                    {
                        columns: [
                            {
                                idx: 5
                            },
                        ],
                        bootstrap: true,
                        bootstrap_version: 5
                    },
                    order: [[1, 'desc']],
                    columnDefs: [
                        { visible: false, targets: [5] },
                        { searchable: false, targets: 0 },
                        { sortable: false, targets: [0,3,4,4]}
                    ],
                    responsive: true
                })
            }
        );
    </script>

{% endblock %}
{% block extra_script %}
{% endblock %}
{% block extra_css %}
    <style>
        .strikeOut {
            display: flex;
            flex-direction: row;
            margin: 0;
        }
        .strikeOut:before,
        .strikeOut:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid var(--bs-border-color);
            margin: auto;
        }
        .strikeOut:after {
            margin-left: 10px;
        }
        .strikeOut:before {
            margin-right: 10px;
        }
        .flex-even {
            flex: 1;
        }
    </style>
{% endblock %}
